.page.theme_dark {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --decoration: #ff0070;
  --title-color: #db00ff;
  --accent-text-color: #000028;
  --text-color: #f1b2ce;
  --title-accent: #ff0070;
  --lamp: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.40);
  background-image: url(../images/cover-image-dark.png);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  right: 10px;
  top: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  left: 10px;
  bottom: 10px;
}

.lamp::before {
  content: "rec";
  position: absolute;
  font-family: var(--font,'IBM Plex Mono', monospace);
  text-transform: uppercase;
  font-size: var(--small, 18px);
  font-weight: var(--regular, 400);
  line-height: 1.33889;
  right: 37px;
  top: 12px;
  color: var(--lamp);
}

.lamp::after {
  content: "";
  position: absolute;
  right: 18px;
  top: 18px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--lamp);
  box-shadow: 0 0 4px 2px var(--lamp);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--decoration);
}

.text-hadow:hover {
  border-bottom: 1px solid var(--text-color);
}

.text-hadow:focus-visible {
  outline: none;
  border: 1px solid var(--text-color);
}

@media (width >= 767.97px) {
  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .lamp::before {
    right: 50px;
    top: 22px;
  }

  .lamp::after {
    right: 29px;
    top: 29px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --accent-color: #ff0070;
    --decoration: #ff0070;
    --title-color: #db00ff;
    --accent-text-color: #000028;
    --text-color: #f1b2ce;
    --title-accent: #ff0070;
    --lamp: #ff0070;
    --hover-color: rgba(255, 0, 112, 0.40);
  }

  .page.theme_auto {
    background-image: url(../images/cover-image-dark.png);
  }

  .lamp::before {
    content: "REC";
    position: absolute;
    font-family: var(--font,'IBM Plex Mono', monospace);
    font-size: var(--small, 18px);
    font-weight: var(--regular, 400);
    line-height: 1.33889;
    color: var(--lamp);
  }
  
  .lamp::after {
    content: "";
    position: absolute;
    inline-size: 9px;
    block-size: 9px;
    border-radius: 50%;
    background-color: var(--lamp);
    filter: drop-shadow(0px 0px 4px var(--lamp));
  }
}